
* {
    margin: 0 auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#b8eff9;
   
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:15px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    text-align:left;
    width:100%;
}


/* Portrait layout (default) */
.app {
    margin-top: 0px;
    height:auto;                   /* text area height */
    width:auto;                   /* text area width */
    text-align:center;

     /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:300px) {
    .app {
        background-position:center;
        padding: 0px;  /* padding-top + padding-bottom + text area = image height */
       /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
} 

.input{
    width: 6em;
}
.select{
    width:20em;
}
.out{
    width: 16em;
}

.left{
    text-align:right center;
}

.buton_calc{ 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: white;
    text-align: center;
   } 

.buton_ENRURO{ 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: white;
    text-align: left;
    /*border:2px solid blue;*/
   }

h1 {
    font-size:15px;
    font-weight:normal;
    overflow:visible;
    text-align:center;
}


.subline{
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:15px;
    margin:0px 30px;
    padding:2px 0px;
}
.subline.old{
    background-color:#333333;
    display:block;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:15px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.6; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 

.blik{
    animation:fade 5000ms infinite;
    text-align: justify;
    -webkit-animation:fade 5000ms infinite;
}

h2 {

    font-size:15px;
    font-weight:bold;
    overflow:visible;
    text-align:center;
}
.first{
    display:table-cell;
    width: 100%;
    text-align: center;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:15px;
    margin:0 auto ;
    padding:10px 10px 20px 0px;
    background-color:#333333;
}

.subb{
    display:table-cell;
    width: 50%;
    text-align: center;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:15px;
    margin:0px 30px;
    padding:10px 10px 20px 0px;
    background-color:#333333;
}
.subb2{
    display:table-cell;
    width: 30%;
    text-align: center;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:15px;
    margin:0px 30px;
    padding:10px 10px 20px 0px;
    background-color:#333333;
}
.subbENRURO{
    display:table-cell;
    width: 30%;
    text-align: left;
    color:#FFFFFF;
    font-size:15px;
    margin:0px 10px;
    padding:10px 5px 5px 5px;
    background-color:#333333;
    /*border:2px solid red;*/
}
.subb3{
    width: 80%;
    text-align: center;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:15px;
    margin:0px 30px;
    padding:10px 10px 20px 0px;
    background-color:#333333;
}
.titul{
    margin:0px auto;
    /*padding: 3em 0;*/
     padding: 5%;
    font-size:30px;
    font-weight:bold;
    text-align: center;
    text-transform:none;
}
.copyright{
     text-transform:none;
     text-align: center;
     position: fixed; 
     bottom: 0px; left: 0px; 
    top: auto; right: auto; 
    width: 100%; 
    height: 20px;
    animation:fade 5500ms infinite;
    -webkit-animation:fade 5500ms infinite;
}
.blik2{
    animation:fade 5500ms infinite;
    -webkit-animation:fade 5500ms infinite;
}
.chart_div{
    padding: 10px; /* Поля вокруг текста */
    margin: 0 auto;
    background: #b8eff9; /* Цвет фона */
    text-align: left;
    text-transform:none;

}
.textnormal{
     text-transform:none;
}
.blink {
    display: table; 
    margin: 0 auto; 
    text-align: left;
   /* border:2px solid red;*/
   
}


.chart_div2{
    padding: 10px 0px 10px 0px; /* Поля вокруг текста */
    margin: 0 auto;
    background: #b8eff9; /* Цвет фона */
    text-align: left;
    text-transform:none;

}