
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                 prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#b8eff9;
   /*  background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        right top,
        left bottom,
        color-stop(0, #ed401f),
        color-stop(0.51, #ed401f)
    );*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:15px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    /*border: 3px solid #fff;*/
    margin-top: 0px;
    background:url(../icon.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    /*top:50%;*/
    height:150px;                   /* text area height */
    width:255px;                   /* text area width */
    text-align:center;
    padding:150px 0px 100px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:30px 0px 100px -130px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:300px) {
    .app {
        background-position:left center;
        padding:10px 0px 75px 138px;  /* padding-top + padding-bottom + text area = image height */
        margin:-5px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}
ul{
    text-align:left;
}
input{
    width: 8em;
}
.input{
    width: 6em;
}
.out{
    width: 16em;
}

.left{
    text-align:right center;
}

h1 {
    font-size:15px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


.subline{
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}
.subline.old{
    background-color:#333333;
    display:block;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:15px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.6; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.blik{
    animation:fade 5000ms infinite;
    text-align: justify;
    -webkit-animation:fade 5000ms infinite;
}

h2 {
    font-size:15px;
    font-weight:bold;
    overflow:visible;
    text-align:center;
}
.subb{
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:15px;
    margin:0px 30px;
    padding:10px 10px 20px 0px;
    background-color:#333333;
    display:block;
}
.blik2{
    animation:fade 5500ms infinite;
    text-align: right;
    -webkit-animation:fade 5500ms infinite;
}